/* @tailwind base; */
@tailwind components;
@tailwind utilities;
*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
body{
    background: #F5F5F5;
    /* background: black; */
}
.borderBottom{
    border-bottom: 3px solid rgb(226, 222, 222);
}
.translateY{
    transform: translateY(0.2rem);
    padding-left: 0.5rem;
}
@media screen and (max-width:600px) {
    .mediaScreenGraph{
       display: none;
    }
    
}